nav {
    padding: 0 4rem 0 4rem;
}

a p {

    margin-top: 1rem;
}

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  
    background-image: url('/img/ba1.jpg');
    height: 80vh;
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(0.6);
}
