nav {
  padding: 0 4rem 0 4rem;
}

a p {
  margin-top: 1rem;
}

.carousel-caption {
  right: 10%;
  text-align: right;
  position: absolute;
  top: 50%;
  left: auto;
}
.texto {
  max-width: 32rem;
}
.carousel-inner img {
  opacity: 0.5;
}
.carousel-inner {
  background-color: black;
}
footer {
  background: linear-gradient(to left, #1d4c66 0%, #1d3a4a 100%);
}

footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 82px;
  text-align: center;
  margin: 0 auto;
}
.textofooter {
  color: whitesmoke;
  width: 14.28%;
  padding: 0 3em;
}

.cardfondo {
  background-color: grey;
}
